body {
  margin: 0px;
  color: var(--cor-11);
  padding-bottom: 600px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit; /* Herdar */
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Como todas as imagens do site vão ter um border radius... */
/* Selecionando apenas as tags img com extensão jpg para evitar os svgs. */
img[src$=".jpg"] {
  border-radius: 4px;
}
