body {
  margin: 0px;
  color: var(--cor-11);
  padding-bottom: 600px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit; /* Herdar */
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid-template {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 140px;
  /* align-items: center; */
}
